[submodule "OCA/storage"]
	path = OCA/storage
	url = git@github.com:OCA/storage.git
	branch = 14.0

[submodule "OCA/connector"]
	path = OCA/connector
	url = git@github.com:OCA/connector.git
	branch = 14.0

[submodule "OCA/server-env"]
	path = OCA/server-env
	url = git@github.com:OCA/server-env.git
	branch = 14.0

[submodule "OCA/connector-interfaces"]
	path = OCA/connector-interfaces
	url = git@github.com:OCA/connector-interfaces.git
	branch = 14.0
