[submodule "OCA/storage"]
	path = OCA/storage
	url = git@github.com:OCA/storage.git
	branch = 14.0

[submodule "OCA/connector"]
	path = OCA/connector
	url = git@github.com:OCA/connector.git
	branch = 14.0

[submodule "OCA/server-env"]
	path = OCA/server-env
	url = git@github.com:OCA/server-env.git
	branch = 14.0

[submodule "OCA/connector-interfaces"]
	path = OCA/connector-interfaces
	url = git@github.com:OCA/connector-interfaces.git
	branch = 14.0

[submodule "OCA/queue"]
	path = OCA/queue
	url = git@github.com:OCA/queue.git
	branch = 14.0

[submodule "OCA/edi"]
	path = OCA/edi
	url = git@github.com:OCA/edi.git
	branch = 14.0

[submodule "OCA/rest-framework"]
	path = OCA/rest-framework
	url = git@github.com:OCA/rest-framework.git
	branch = 14.0

[submodule "OCA/server-auth"]
	path = OCA/server-auth
	url = git@github.com:OCA/server-auth.git
	branch = 14.0

[submodule "yezyilomo/odoo-rest-api"]
	path = yezyilomo/odoo-rest-api
	url = git@github.com:yezyilomo/odoo-rest-api.git
	branch = master

[submodule "OCA/server-backend"]
	path = OCA/server-backend
	url = git@github.com:OCA/server-backend.git
	branch = 12.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 14.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 14.0

[submodule "FedericoMedici/abc_iap_test_my_library"]
	path = FedericoMedici/abc_iap_test_my_library
	url = git@github.com:FedericoMedici/abc_iap_test_my_library.git
	branch = main
